In [7]:
# TASK 1A

Age = 33
Name = "Moammar"
Profession_student = False

# Defining the 3 variables

print("Name is", Name)
print("Age is", Age)
print("Is a student?:", Profession_student)

# Printing the variables

Name is Moammar
Age is 33
Is a student?: False

In [8]:
# TASK 1B

Age = Age + 25
Name= Name + " Smith"
Profession_student = not (Profession_student)

# Performing the 3 operations

print("Name is", Name)
print("Age is", Age)
print("Is a student?:", Profession_student)

# Printing the variables

Name is Moammar Smith
Age is 58
Is a student?: True

In [9]:
# TASK 2A

width=5.5
height=3.25
# Storing the values

area=width*height
# Defining the formula in a new variable

print(area)

17.875

In [10]:
# TASK 2B

Temp_Celsius =100
# Celsius variable

Temp_Fahrenheit = (Temp_Celsius*9/5) + 32
# Fahrenheit variable

print(Temp_Fahrenheit)

212.0

In [14]:
# TASK 2C

radius =5
# Defining variable radius

area_circle = 3.14159*(radius**2)
# Defining area variable

print(area_circle)

78.53975

In [17]:
# TASK 3A

fruits =["apple", "banana", "orange","grape", "kiwi"]
# Defining the list

print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [19]:
# TASK 3B

months =("January", "February", "March")
# Defining the tuple

print(months)

('January', 'February', 'March')

In [20]:
#TASK 4A

numbers=[12,34,45,67,89,100,23,56]
# Creating the list

print(sum(numbers))
print(sum(numbers)/len(numbers))
#printing sum and average

426
53.25

In [21]:
#TASK 4B

fruits.pop(4)
#Removing the last element
fruits.pop(0)
#Removing the first element

print(fruits)

['banana', 'orange', 'grape']

In [22]:
#TASK 5A

capitals = {"USA": "Washington D.C.","France": "Paris","Japan": "Tokyo"}
# Creating the dictionary

print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

In [23]:
#TASK 5B

capitals ["Germany"] = "Berlin"
# Updating the dictionary

print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [24]:
#TASK 5C

if "France" in capitals:
    print("France is present in the dictionary.")
else:
    print("France is not present in the dictionary.")

# Checking if "France" is in the dictionary

France is present in the dictionary.

In [35]:
#TASK 6A

number=int(input("Enter a number:"))
#input integer

if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number:10
The number is even.

In [37]:
#TASK 6B

S_Age=30
S_GPA=3
#Defining the variables

if S_Age>18 and S_GPA>=3:
    print("Eligible for Admission")
else:
    print("Not eligible for Admission")

Eligible for Admission

In [39]:
#TASK 7A

fruits_set={"apple", "banana", "orange","grape", "kiwi"}
#creating the set

print(fruits_set)

{'apple', 'kiwi', 'orange', 'banana', 'grape'}

In [45]:
#TASK 7B

set1={1,2,3,4,5}
set2={3,4,5,6,7}
#creating the sets

print(set1 | set2) # union of sets
print(set1 & set2) # intersection of sets
print(set1 ^ set2) # difference of sets
print(set1 <= set2) # is set1 subset of set2

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2, 6, 7}
False

In [64]:
#TASK 8

string="Python programming is fun and powerful!"
#creating the string variable

print(len(string)) # length

print((string).upper()) # uppercase

print((string).replace("fun","exciting")) # replacing fun with exciting

if "Python" in string: print("Yes")
else: print("No") #checking if the string contains word Python

print((string).split()) #converting string to words

39
PYTHON PROGRAMMING IS FUN AND POWERFUL!
Python programming is exciting and powerful!
Yes
['Python', 'programming', 'is', 'fun', 'and', 'powerful!']